node_modules
./keygen/powersOfTau28_hez_final_18.ptau
zkay*

circuits/*.vk.json
circuits/*.pk

circuits/FinalizeDutchAuction*

# circuits/Finalize2*
# circuits/Finalize4*
circuits/Finalize8*
circuits/Finalize16*
circuits/Finalize32*
circuits/Finalize64*
circuits/Finalize128*